In [1]:
#Probability of 3 when a die is rolled
ns=6   #{1,2,3,4,5,6}
na=1   #{3}
pa=na/ns # P(A)
print("The probability of getting 3 is ",pa)

The probability of getting 3 is  0.16666666666666666

In [2]:
#Probability of getting atleast one head when 3 fair coins are tossed
ns=8 #s={"HHH","HHT","HTT","TTT","TTH","THH","HTH","THT"}
nb=7 #A={"HHH","HHT","HTT","TTH","THH","HTH","THT"}
pb= nb/ns #P(B)
print("The probability of getting atleast one head when 3 fair coins are tossed ",pb)

The probability of getting atleast one head when 3 fair coins are tossed  0.875

In [3]:
'''A glass jar contains 5 red, 3 blue and 2 green jelly beans, If a jelly is drawn at 
random from a jar what is the probability that it is not blue'''
ns=10 #S={red,red,red,red,red,blue,blue,blue,green,green}
nc=7
pc= nc/ns #P(C)
print("The probability of drawing a ball that is not blue ",pc)

The probability of drawing a ball that is not blue  0.7

In [4]:
# example :4
# if  the prob that person A will be alive i 20 years is 0.7
# and the prob of person B will be alive in 20 years is 0.5
# what is prob that they both will be alive in  20 years?
 
# these are independent event ,50
 
p= 0.7*0.5
print("prob they both will is alive in 20 years is :",p)

prob they both will is alive in 20 years is : 0.35

In [5]:
def event_probability(A,S):
    return A/S

In [6]:
# example 5

# A die i tossed  twise find the prob of getting a 4 or 5 on the first toss
# and a 1,2 or 3 in second tossed

# using my func 

# prob of getting a 4 or 5 on the first toss ,2 event total sample is 6
pa= event_probability(2,6)


# prob of getting a 1,2 or 3 on second  toss 3 event total sample is 6
pb=event_probability(3,6)


# total prob of both will be
p=pa*pb
print("prob of getting a4 or 5 on the first toss and a 1,2 or 3 in the second toss is :",p)

prob of getting a4 or 5 on the first toss and a 1,2 or 3 in the second toss is : 0.16666666666666666

In [7]:
#A bag contains 5 white marbles, 3 black marbles and 2 green marbles. 
#In each draw, a marble is drawn from the bag and not replaced. In three draws, find the probability of obtaining white,
#black and green in that order.

pw= event_probability(5,10)

pb = event_probability(3,9)

pg=event_probability(2,8) 
print("the probability of obtaining white, black and green in that order is",pw*pb*pg)

the probability of obtaining white, black and green in that order is 0.041666666666666664

In [8]:
#Sample Space 
cards = 52

#If 1 card is drawn at random
#Calculate the probability of drawing a heart or a club
hearts = 13
clubs = 13 
heart_or_club = event_probability(hearts, cards) + event_probability(clubs,cards)
print("probability of drawing a heart or a club")
print(heart_or_club)
print("   ")



king=4
queen=4
ace=4
akq=event_probability(king,cards)+event_probability(queen,cards)+event_probability(ace,cards)
print("Probability of drawing a king or a queen or a ace")
print(round(akq,2))
print("  ")



print("Probability of drawing a ace or a heart")
#Probability of drawing a ace or a heart
pofheart=event_probability(hearts,cards)
poface=event_probability(ace,cards)
aceandheart=event_probability(1,cards)
aceorheart=poface+pofheart-aceandheart
print(round(aceorheart,2))
print("   ")

print("Probability of getting a red card or a face card")
red=26
face=12
redandface=6
pofredorface=event_probability(red,cards)+event_probability(face,cards)-event_probability(redandface,cards)
print(round(pofredorface,2))

probability of drawing a heart or a club
0.5

Probability of drawing a king or a queen or a ace
0.23

Probability of drawing a ace or a heart
0.31

Probability of getting a red card or a face card
0.62

In [9]:

# prob of not geting 5 when die is rolled.
# s +{1,2,3,4,5,,6}
ns = 6

# getting 5
na=1

pa= event_probability(na,ns)
print("prob of not getting 5 is :",round(1-event_probability(na,ns),2))
# both the way are same 
# prob of not getting 5 is - prob of getting 5
#print("prob of not getting 5 is :",round(1-pa,2))

prob of not getting 5 is : 0.83

In [10]:
import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv("C:\\Users\DSAI\\Desktop\\M.Sc_Amar_718\\Datasets-20220805T064950Z-001\\Datasets\\student-mat.csv")

In [12]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [13]:
len(df)

395

In [14]:
df['grade_A']=np.where(df['G3']*5>=80,1,0)

In [15]:
df['high_absenses']=np.where(df["absences"]>=10,1,0)

In [16]:
df['count']=1

In [17]:
df=df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [18]:
final=pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0
 )

In [19]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [20]:
print(final.iloc[1,0])

35

### P(A)=grade>80 P(B)=absences>10

### P(A/B)

In [21]:
total=final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1]
total

395

In [22]:
p_a=(final.iloc[1,0]+final.iloc[1,1])/total
p_a

0.10126582278481013

In [23]:
p_b=(final.iloc[0,1]+final.iloc[1,1])/total
p_b

0.21012658227848102

In [24]:
p_anb=final.iloc[1,1]/total
p_anb

0.012658227848101266

In [25]:
p_agivenb=p_anb/p_b
p_agivenb

0.060240963855421686